# created by virtualenv automatically
*.idea
*.env
# config.py
*.db

.venv/

venv/

*.pyc
__pycache__/

instance/

#flaskr/static/uploads/

.pytest_cache/
.coverage
htmlcov/

dist/2
build/
*.egg-info/

.uploads/