<link rel="stylesheet" href="{{	url_for('static', filename='css/navbar.css') }}" />

<nav class="navbar sticky-top navbar-expand-md navbar_layout bg-light">
    <div class="container-fluid">
        <a class="navbar-brand text-center" style="" href="/">
            <img src="{{ url_for('static', filename='logo/FullLogo_Transparent_NoBuffer.png') }}" alt="" width="80" height="80">
        </a>

<!--
        <span class="navbar-text font-med-bold text-xl">
            Allan Gilbert Builders
        </span>
-->

      <!-- condensed menu button for smaller screens -->
        <button class="navbar-toggler justify-content-end" data-bs-theme="light" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--This is for navbar to display active page-->
        {% if session.logged_in %}

            {% set navigation_bar = [
                ('/', 'home', 'Home'),
                ('/gallery', 'gallery', 'Gallery'),
                ('/testimonials', 'testimonials', 'Testimonials'),

                ('/admin', 'admin', 'Admin Portal'),
                ('/admin/view-projects', 'viewProjects', 'View Projects'),
                ('/contact', 'contact', 'Contact')
            ] -%}
        {% else %}
            {% set navigation_bar = [
                ('/', 'home', 'Home'),
                ('/gallery', 'gallery', 'Gallery'),
                ('/testimonials', 'testimonials', 'Testimonials'),

                ('/contact', 'contact', 'Contact'),
                ('/login', 'login', 'Login')
            ] -%}
        {% endif %}
		{% set active_page = active_page|default('home') -%}

        <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
          <div class="navbar-nav" id="navigation" style="text-align: right;">
                {% for href, id, caption in navigation_bar %}
                    <a {% if id == active_page %} class="nav-link active text-black-50" {% else %} class="hover nav-link text-dark" {% endif %} href="{{ href|e }}">
                        {{ caption|e }}
                    </a>
                {% endfor %}

              {% if session.logged_in %}
              <!--<a class="nav-link text-light" href="/admin">Admin Portal</a>-->
              <a class="nav-link text-dark" href="/logout">Logout</a>
              {% endif %}

          </div>
        </div>

    </div>

</nav>
