    {% extends 'layout.html' %}
    {% set active_page = "gallery" %}

    {% block head %}
        <!-- PRELOADING -->
        {% for img in images %}
            <link rel="preload" href="{{ img }}" as="image"/>
        {% endfor %}
    {% endblock %}

    {% block body %}
<div id="main-content" class="main-content" style="">
    <!--replace background-->
    {% if session.logged_in %}
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="" style="max-width: 100%;">

        <form method="post" action="" class="" enctype="multipart/form-data">
            <div class="row justify-content-end" style="font-weight: 500;">
                <div class="col-3 form-labels" style="text-align: right;">
                        <p class="font-med-bold text-normal upload_bg text-light">Change Background</p>
                    {{ image_form.bg_image(class="form-control", style="font-size: 10px;") }}
                        <button class="buttons btn btn-outline-primary btn-sm"
                        data-callback='onSubmit'
                        data-action='submit'
                        name="upload-image" style="">Upload</button>

                </div>
            </div>
        </form>
    </div>
    {% endif %}

    <!--gallery title banner-->

    {% include 'includes/_messages.html' %}
    <header class="container-md" style="position:relative; max-width: 100%;">
        <div class="row justify-content-center " style="align">
                <!--preview carousel-->
            <div id="previewCarousel" class="carousel slide" data-bs-ride="carousel">
                <!--indicators-->
                <div class="carousel-indicators">
                    {% for n in enumerated_photos %}
                    <button type="button" data-bs-target="#previewCarousel" data-bs-slide-to="{{ n }}" aria-label="Slide {{ n }}"
                            {% if n == 0 %} class="active" aria-current="true" {% else %} {% endif %}></button>
                    {% endfor %}
                </div>

                {% if images %}
                <!--the slideshow-->
                <div class="carousel-inner">
                    {% for photo in images %}
                    <div {% if photo == first_photo %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}
                            style="">
                        <img class="d-block w-100" src="{{ photo.image_path }}"  style="max-height: 20vh;">
                        <p>{{photo.image_path}}</p>
                        <div class="carousel-caption">
                            <div class="container-md">
                                <div class="row justify-content-center">
                                    <div class="col-md" style="padding-bottom: 15.0rem;">
                                        <div style="">
                                            <h1 style="font-weight: 600; font-size: 50px;" class="gallery_title">Project Gallery</h1>
                                        </div>

                                    </div>
                                </div>
                                <div class="row justify-content-end">
                                    <div class="col-sm-auto" style="">
                                        <p class="text-lg font-med-bold project_link" style=""><a href="{{ url_for('blueprint.view_project', project_name=photo.project_name) }}" class="text-light">{{photo.project_name}}</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- Left and right controls -->
                    <button class="carousel-control-prev" type="button" data-bs-target="#previewCarousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#previewCarousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </header>

    <!--dropdowns-->
    <div class="container-md" style="max-width: 100%; padding-top: 2%;">
        <form name="dropdown_form" method="POST" action="{{ url_for('blueprint.gallery', page='1') }}">
            <div class="row justify-content-end">

                {% if session.logged_in %}
                <div class="col-md-auto" style="text-align: center; padding: 0px 20px;">
                    <a href="{{ url_for('blueprint.view_all_projects') }}" class="text-lg">View All Projects - Admin</a>
                </div>
                {% endif %}

                <div class="col-md-3" style="text-align: center; padding: 0px 20px;">
                    <p class="text-lg">{{ form.filter_by.label }}</p>
                    <p class="text-lg">{{ form.filter_by(onchange="this.form.submit();") }}</p>

                </div>
            </div>

        </form>
    </div>


    <!--projects-->
    <div class="container-md" style="max-width:100%; padding: 0px 20px;">
        <div class="row justify-content-evenly">
            {% for project, thumbnail in project_data %}
            <div class="col-md-4 project__wrap" style="padding: 10px 10px; margin-top: 2%; margin-bottom: 2%;" onclick="">
                <div class="img-thumbnail" style="padding: 15px 15px; background: linear-gradient(rgba(240, 240, 240, 0.0), rgba(240, 240, 240, 0.0)), url({{ thumbnail }}); background-size: cover; background-position: 50% 50%; height: auto; width: 100%;">
                    <a href="{{ url_for('blueprint.view_project', project_name=project[1]) }}" style="text-decoration: none;" class="text-dark">
                        <div class="row justify-content-center text-center project_description" style="margin-bottom: 30px; border: 1px solid black;">
                            <h5 class="text-center font-med-bold ">{{ project[1] }}</h5>
                            <p class="text-md">{{ project[4] }}, NH</p>
                        </div>
                        <div class="row align-items-center text-center" style="">
                            <div class="col-sm d-none d-md-block"> <!--hide on screens smaller than md-->
                                <button class="buttons btn btn-outline-primary"
                                    data-callback='onSubmit'
                                    data-action='submit'>View Project</button>
                            </div>
                            <div class="col-sm d-md-none"> <!--hide on screens md & wider-->
                                <button class="buttons btn btn-primary"
                                    data-callback='onSubmit'
                                    data-action='submit'>View Project</button>
                            </div>
                        </div>
                    </a>

                    {% if session.logged_in %}
                    <button class="btn btn-default" style="">
                      <form action="{{ url_for('blueprint.delete_project', project_id=project[0]) }}" method="post">
                          <input type="submit" value="Delete" name="delete-button" onclick="return confirm('Are you sure you want to delete this project?');" class="btn btn-danger">
                      </form>
                    </button>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            {{ pagination.links }}
        </div>
    </div>


</div>


     {% endblock %}