    {% extends 'layout.html' %}
    {% set active_page = "home" %}

    {% block head %}
        <link rel="preload" href="" as="image"/>
    {% endblock %}
    {% block body %}
    <div id="main-content" class="main-content" style="">
        <div class="container-md home-banner">
            <div class="row justify-content-center text-center" style="padding-top: 100px;">
                <div class="col-md" style="">
                    <h1 style="font-weight: 600;">Allan Gilbert Builders</h1>
                </div>
            </div>
            <div class="row justify-content-center text-center" style="">
                <div class="col-md">
                    <h3>{ About Business }</h3>
                </div>
            </div>
            <div class="row justify-content-center text-center" style="padding-top: 200px;">
                <div class="col-md">
                    <button class="buttons btn btn-primary"
                        data-callback='onSubmit'
                        data-action='submit'>Visit the Gallery</button>
                </div>
            </div>
        </div>


    </div>


    {% endblock %}
