    {% extends 'layout.html' %}
    {% set active_page = "home" %}

    {% block head %}
        <link rel="preload" href="" as="image"/>
    {% endblock %}
    {% block body %}
    <div id="" class="home-main-content">

        <!--welcome preview-->
        <div class="container-md info-sections" style="">
            <div class="row justify-content-center">
                <div class="col-md">
                    <p>WELCOME</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <p>
                    At Allan Gilbert Builders, we are more than just builders; we are artisans
                    dedicated to creating exceptional living spaces. With over three decades
                    of experience, we’ve been transforming dreams into beautifully
                    constructed homes which reflect individuality and sophistication.
                    </p>
                </div>
            </div>
        </div>
        <!--about-->
        <div class="container-md info-sections" style="max-width: 100%;">
            <div class="row justify-content-center">
                <div class="col-md">
                    <p>ABOUT US</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    Our story is one of passion, craftsmanship and a commitment to
                    excellence. A family owned and operated business, three generations
                    and growing, we have been dedicated to crafting exceptional living
                    spaces for our clients surrounding the lakes region.
                </div>
            </div>
        </div>
                <!--services-->
        <div class="container-md info-sections" style="margin-bottom: 20;">
            <div class="row justify-content-center">
                <div class="col-md">
                    <p>OUR SERVICES</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    At Allen Gilbert Builders, we take pride in offering a comprehensive
                    range of construction and remodeling services tailored to meet your
                    unique needs and preferences. Our experienced team of professionals is
                    dedicated to delivering quality craftsmanship and innovative solutions
                    for every project. Explore our services below:
                </div>
            </div>
            <!--home building-->
            <div class="container-md services-subsection">
                <div class="row">
                    <div class="col-md">
                        <p>HOME BUILDING</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>
                            We specialize in building custom homes that are not just structure but
                            reflections of your lifestyle and personality.
                        </p>
                    </div>
                </div>
            </div>
            <!--general contracting-->
            <div class="container-md services-subsection">
                <div class="row">
                    <div class="col-md">
                        <p>GENERAL CONTRACTING</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md">
                        <p>
                            Our team ensures that every aspect of your project is executed with
                            precision and care.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% endblock %}
