{% extends 'layout.html' %}
{% set active_page = "login" %}
{% block body %}

    {% include 'includes/_messages.html' %}

     <form action="" method="POST">
      <div class="text-center mb-4 p-5">
        <h1 class="display-5 font-weight-normal">Admin Login</h1>
      </div>

      <div align="center">
        <div class="col-md-6 col-md-offset-3 p-1 text-center">
          <input type="email" name="email" class="form-control" placeholder="Email" required autofocus value={{request.form.email}}>
        </div>
      </div>

      <div align="center">
        <div class="col-md-6 col-md-offset-3 p-1 text-center">
          <input type="password" name="password" class="form-control" placeholder="Password" required value={{request.form.password}}>
        </div>
      <div class="col-md-6 col-md-offset-3 p-2 text-center">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      </div>

      </div>
    </form>



{% endblock %}
