
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
        <h2 class="lead">Thank you!</h2>
        <hr>
        <br>
        <p class="lead">Allan Gilbert Builders has received your testimonial and it's pending approval.</p>
        <p>Here's what you sent: </p>

        <p class="email-font">{{name}}<i> from {{ town }}, NH</i>: </p>
        <p class="email-font" style="padding: 20px">{{ message }}</p>
        <br>
        <p class="lead">This email was sent from <a href="{{ url }}">AllanGilbertBuilders.com</a></p>



</body>
</html>