{% extends 'layout.html' %}
{% set active_page = "testimonials" %}

{% block head %}
    <link rel="preload" href="" as="image"/>
{% endblock %}
{% block body %}

<div id="main-content" class="" style="">
    <!--replace background-->
    {% if session.logged_in %}
    {% from "includes/_formhelpers.html" import render_field %}
    <div class="" style="max-width: 100%;">

        <form method="post" action="" class="" enctype="multipart/form-data">
            <div class="row justify-content-end" style="font-weight: 500;">
                <div class="col-3 form-labels" style="text-align: right;">
                        <p class="font-med-bold text-normal">Change Background</p>
                    {{ image_form.bg_image(class="form-control", style="font-size: 10px;") }}
                        <button class="buttons btn btn-outline-primary btn-sm"
                        data-callback='onSubmit'
                        data-action='submit'
                        name="upload-image" style="">Upload</button>

                </div>
            </div>
        </form>
    </div>
    {% endif %}

    <!--title banner-->
    <header class="screen_title_container">
        {% include 'includes/_messages.html' %}
        <div class="container-md text-center" style="max-width: 100%;">
            <div class="row justify-content-center">
                <div class="col-md-auto ">
                    <h1 class="screen_title text-dark" style="">Testimonials</h1>
                </div>
            </div>
        </div>
    </header>

            <!--testimonials-->
    <div class="container-md" style="max-width: 100%; margin-top: 5%;">
        <!--for loop would go here for testimonials, row by row-->
        {% for i in testimonials %}
        <div class="row justify-content-center text-center testimonial-container" style="">
            <div class="col-md text-md" style="padding: 5px 12%;"> <!--top/bottom left/right-->
                <p>"{{ i.message }}"</p>

                <p><strong>{{ i.name }}</strong> - {{ i.town }}, NH</p>

                {% if session.logged_in %}
                <a href="mailto:{{i.email}}" class="text-sm">{{i.email}}</a>
                {% endif %}

                {% if i.project_id %}
                    <!--<p><a href="{{ url_for('blueprint.view_project_by_id', project_id=i.project_id) }}">View the Project</a></p>-->
                    <p>
                        <form action="{{ url_for('blueprint.view_project_by_id', project_id=i.project_id) }}">
                            <input type="submit" value="View the Project" name="" class="">
                        </form>
                    </p>
                {% endif %}
                {% if session.logged_in %}
                <td class="btn btn-default">
                  <form action="{{ url_for('blueprint.delete_testimonial', testimonial_id=i.testimonial_id) }}" method="post">
                      <input type="submit" value="Delete" name="delete-button" onclick="return confirm('Are you sure you want to delete this testimonial?');" class="btn btn-danger">
                  </form>
                </td>
                {% endif %}
            </div>
        </div>
        {% endfor %}
        <div class="row justify-content-center">
            <div class="col-md">
                {{ pagination.links }}
            </div>
        </div>

    </div>

</div>


{% endblock %}