{% extends 'layout.html' %}
{% set active_page = "testimonials" %}

{% block head %}
    <link rel="preload" href="" as="image"/>
{% endblock %}
{% block body %}

<div id="main-content" class="main-content" style="">
    <!--title banner-->
    <header class="contact-banner">
        <div class="container-md text-center" style="max-width: 100%;">
            <div class="row justify-content-start">
                <div class="col-md-auto ">
                    <h1 class="screen_titles" style="font-weight: 600;">Testimonials</h1>
                </div>
            </div>
        </div>
    </header>

    <!--testimonials-->
        <div class="container contact-content">
            <!--for loop would go here for testimonials, row by row-->
            <div class="row justify-content-center">
                <div class="col-md">

                </div>
            </div>
        </div>

        </div>


</div>


{% endblock %}