<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
        <h2 class="lead">You have a new testimonial pending your approval!</h2>
        <hr>
        <br>
        <p class="email-font">{{ name }} <small>({{ email }})</small><i> from {{ town }}, NH</i>: </p>
        <p class="email-font" style="padding: 20px">{{ message }}</p>
        <br>
        <p><a href="{{ url }}">Click here to log in and view your pending testimonials</a></p>



</body>
</html>